.main{
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.imgAndTitle{
    font: inter;
    text-decoration: none;
    font-style: normal;
    color: #24305E;
    font-size: 30px;

    display: flex;
   
    /* letter-spacing: 2.5px;
    word-spacing: 0px;
    font-weight: 400; */
}
.Home{
    flex: 4;
    align-items: flex-start;
    min-width: 120px;
    display: flex;
}
.links{
    flex: 10;
    margin-bottom: 3px;
}
.link {
    font: inter;
    text-decoration: none;
    font-style: normal;
    color: #24305E;
    font-size: 18px;
    margin: 0px 3vw;


    /* letter-spacing: 2.5px;
    word-spacing: 0px;
    font-weight: 400; */
}
.logo{
    width: 22px;
    margin: 0px 10px 0px 0px;
    display:absolute;
    top: 40px;

}
.buttons{
    flex: 4;
    display: flex;
    min-width: 250px;
    justify-content: space-around;
}
.buttons button{
    width: 100px;
    font-size: 18px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
}
.login{
    background-color: #A8D0E6;
}
.signUp{
    background-color: #24305E;
}